[submodule "dataverse"]
	path = dataverse
	url = https://github.com/IQSS/dataverse
[submodule "Skosmos"]
	path = Skosmos
	url = https://github.com/NatLibFi/Skosmos.git
[submodule "utils/Custom-Metadata-Blocks"]
	path = utils/Custom-Metadata-Blocks
	url = https://github.com/odissei-data/Custom-Metadata-Blocks.git
[submodule "utils/translations"]
	path = utils/translations
	url = git@github.com:odissei-data/TranslationDataverseUI.git
